/*
--d for the offset-path used for the circle
--animation describing the properties shared by the circle and path
*/
:root {
  --d: "M 0 0 h 300";
  --animation: 3s ease-in-out infinite forwards;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  background: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 20%);
}
svg {
  margin: auto;
  width: 300px;
  height: auto;
  display: block;
}

/* animate the circle to follow the path described by the custom property */
svg circle {
  offset-path: path(var(--d));
  offset-distance: 0%;
  animation: var(--animation);
  animation-name: increaseOffset;
}

svg path {
  stroke-dashoffset: 1;
  stroke-dasharray: 1;
  animation: var(--animation);
  animation-name: removeOffset;
}

@keyframes increaseOffset {
  to {
    offset-distance: 100%;
  }
}

@keyframes removeOffset {
  to {
    stroke-dashoffset: 0;
  }
}
