* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* center in the viewport */
body {
  min-height: 100vh;
  display: flex;
}
svg {
  margin: auto;
  width: 150px;
  height: auto;
  display: block;
}
/* animate the svg to rotate from the center */
svg {
  animation: rotateHourglass 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}
/* animate the rectangle describing the sand toward the bottom */
#sand {
  animation: moveSand 10s ease-in-out infinite;
}
/* by repeating the animation from the original values, the idea is to give the illusion of a constant rotation clockwise */
@keyframes rotateHourglass {
  /* 95% to fill the hourglass, 5% to rotate the shape around its center  */
  95% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes moveSand {
  95%,
  100% {
    transform: translateY(50px);
  }
}
