@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: #1d4a47;
  font-family: "Source Sans Pro", sans-serif;
}
/* position the icons in the center of the viewport, in a wrapping row */
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* position relative to have the svg icons laid on top of the anchor links */
a {
  position: relative;
  padding: 0.25rem;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 1rem;
  text-decoration: none;
}
/* position the icons atop the parent anchor link elements */
a svg {
  width: 62px;
  height: auto;
  position: absolute;
  bottom: 100%;
  left: 50%;
  /* hide the icons by default */
  transform: translate(-50%, 0) scale(0);
  opacity: 0;
  visibility: none;
  /* transition for the change on hover/focus */
  transition: all 0.2s ease-out;
  transform-origin: 50% 100%;
}
/* on hover/focus scale the icons to visibility */
a:hover svg,
a:focus svg {
  transform: translate(-50%, 0) scale(1);
  visibility: visible;
  opacity: 1;
}
/* delay the nested icon to have the image connected to the anchor link follow the tooltip */
a:hover svg svg,
a:focus svg svg {
  transition-delay: 0.2s;
}
