* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 1rem;
}

hr {
  /* overflow is set to hidden at least on chrome */
  overflow: visible;
  position: relative;
  height: 1.25rem;
  border-left: 0.15rem solid currentColor;
  border-right: 0.15rem solid currentColor;
}

hr:first-of-type::before {
  z-index: 10;
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 110"%3E%3Cg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath d="M 15 100 a 5 5 0 0 0 -10 0 9 9 0 0 0 18 0 v -90 a 8 8 0 0 1 16 0 q 0 19 -16 28 q -20 10 -20 28 a 20 20 0 0 0 40 0 14 14 0 0 0 -28 0" /%3E%3C/g%3E%3C/svg%3E');
  position: absolute;
  left: 0.25rem;
  top: 0%;
  width: calc(1.25rem * 4 * 46 / 110);
  height: calc(1.25rem * 4);
}

hr:nth-of-type(5n) {
  height: 2rem;
  border-left: none;
  border-right: none;
}

hr:nth-of-type(1),
hr:nth-of-type(2),
hr:nth-of-type(3),
hr:nth-of-type(4),
hr:nth-of-type(5) {
  border-left-width: 0.25rem;
}

hr:nth-last-of-type(2),
hr:nth-last-of-type(3),
hr:nth-last-of-type(4),
hr:nth-last-of-type(5) {
  border-right: 0.5rem double currentColor;
}
