@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Nunito+Sans:400,600&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    /* display the snippets in a column */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('data:image/svg+xml;utf8,<svg opacity="0.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="outline:2px solid"><g stroke="hsl(0, 0%, 0%)" stroke-width="20" stroke-linecap="round" fill="none"><path id="a" d="M-30 40l40-20"/><use href="%23a" x="100"/><use href="%23a" x="45" y="10" stroke-dasharray="30 30"/><use href="%23a" x="80" y="-30" stroke-dasharray="30 30"/><use href="%23a" x="80" y="70" stroke-dasharray="30 30"/><use href="%23a" x="50" y="50" stroke-dasharray="40 20"/><use href="%23a" x="115" y="30" stroke-dasharray="10 40"/><use href="%23a" x="15" y="30" stroke-dasharray="10 40"/></g></svg>'),
        hsl(0, 0%, 100%);
    background-size: 50px;
    font-family: "Nunito Sans", sans-serif;
}
.snippet {
    max-width: 500px;
    width: 90vw;
    border-radius: 10px;
    background: hsl(210, 14%, 11%);
    color: hsl(0, 0%, 95%);
    padding: 1rem;
    margin: 1rem 0;
}
/* display the svg icon and span element side by side */
.snippet svg {
    display: inline-block;
    width: 20px;
    height: auto;
}
.snippet > span {
    font-weight: 600;
    font-size: 1rem;
}

.snippet pre {
    margin: 0.5rem 0;
    white-space: pre-wrap;
    line-height: 1.5;
}
.snippet code {
    font-family: "Fira Mono", monospace;
}
