@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  overflow-y: hidden;
}
/* display the sidebar and canvas side by side */
.app {
  display: flex;
  height: 100vh;
}
/* display the content in a single column layout */
.app__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333;
  /* add noticeable padding to make sure the content is below the toggle (absolute positioned in the top right of the sidebar) */
  padding: 3rem 0.75rem 1.5rem;
  /* by default translated to the left of the viewport */
  z-index: 10;
  position: relative;
}
/* transition for the translation of the sidebar and the canvas element */
.app__sidebar,
canvas {
  transition: transform 0.25s cubic-bezier(0.15, 0.54, 0.38, 1);
}

/* absolute position the toggle to the right of the sidebar */
.app__sidebar .toggle {
  position: absolute;
  top: 1rem;
  left: 100%;
  width: 38px;
  height: 38px;
  border-radius: 0 5px 5px 0;
  background: #333;
  color: #aaa;
  border: none;
  padding: 0.25rem;
}
.app__sidebar .toggle svg {
  width: 100%;
  height: 100%;
}

/* translate and rotate the group element in the SVG element describing the direction of the toggle
transform-origin is relates to where the group element lies
*/
.app__sidebar .toggle #toggle--icon path {
  transform: translateX(0px) rotate(180deg);
  transition: transform 0.28s cubic-bezier(0.7, 0.21, 0.38, 1.33);
  transition-delay: 0.25s;
}
.app__sidebar.shown .toggle #toggle--icon path {
  transform: translateX(-20px) rotate(0deg);
}

/* position the input elements below their respective label */
.app__sidebar label {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  margin: 0.5rem 0;
  color: #fff;
  font-size: 0.8rem;
}
/* cap the width of the input elements */
.app__sidebar label input {
  width: 48px;
}
/* for the second input element add some whitespace around the text */
.app__sidebar label input[type="number"] {
  color: #333;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0.1rem 0.25rem;
}

/* absolute position the made up cursor out of sight, in the top left of the application */
svg#cursor {
  position: absolute;
  bottom: 100%;
  right: 100%;
  /* pointer events to avoid messy overlap on hover */
  pointer-events: none;
  color: #ff6347;
  width: 36px;
  height: 36px;
}

/* push the last button to the bottom of the flex container using auto margin */
.app__sidebar .clear {
  margin-top: auto;
  background: none;
  color: #fff;
  border: none;
}
.app__sidebar .clear svg {
  width: 100%;
  height: 100%;
}
/* on hover add a small animation to shake the trash can */
.app__sidebar .clear:hover {
  animation: clear 0.2s 3 ease-out;
}
@keyframes clear {
  33% {
    transform: rotate(-5deg);
  }
  67% {
    transform: rotate(5deg);
  }
}
