@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ff6347;
}
/* avoid any scroll outside of the viewport */
body {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}
/* absolute position the sidebar in left section of the application */
.app__sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 100%;
  background: #333;
  /* display the content in a single column layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* add noticeable padding to make sure the content is below the toggle (absolute positioned in the top right of the sidebar) */
  padding: 3rem 0 1rem;
  /* by default translated to the left of the viewport */
  transform: translateX(-100%);
  transition: transform 0.25s ease-out;
}
/* with a class of .shown translate the sidebar into view */
.app__sidebar.shown {
  transform: translateX(0);
  /* different timing function to make the transition into view feel snappier */
  transition-timing-function: cubic-bezier(0.15, 0.54, 0.38, 1);
}
/* absolute position the toggle to the right of the sidebar */
.app__sidebar .toggle {
  position: absolute;
  top: 1rem;
  left: 100%;
  width: 38px;
  height: 38px;
  border-radius: 0 5px 5px 0;
  background: #333;
  color: #aaa;
  border: none;
  padding: 0.25rem;
}
.app__sidebar .toggle svg {
  width: 100%;
  height: 100%;
}

/* translate and rotate the group element in the SVG element describing the direction of the toggle
transform-origin is relates to where the group element lies
*/
.app__sidebar .toggle #toggle--icon path {
  transform: translateX(0px) rotate(180deg);
  transition: transform 0.28s cubic-bezier(0.7, 0.21, 0.38, 1.33);
  transition-delay: 0.25s;
}
.app__sidebar.shown .toggle #toggle--icon path {
  transform: translateX(-20px) rotate(0deg);
}

/* position the input elements below their respective label */
.app__sidebar label {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  margin: 0.5rem 0;
  color: #fff;
  font-size: 0.8rem;
}
/* cap the width of the input elements */
.app__sidebar label input {
  width: 48px;
}
/* for the second input element add some whitespace around the text */
.app__sidebar label input[type="number"] {
  color: #333;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0.1rem 0.25rem;
}

/* absolute position the made up cursor out of sight, in the top left of the application */
svg#cursor {
  position: absolute;
  bottom: 100%;
  right: 100%;
  /* pointer events to avoid messy overlap on hover */
  pointer-events: none;
}

/* push the last button to the bottom of the flex container using auto margin */
.app__sidebar .clear {
  margin-top: auto;
  background: none;
  color: #fff;
  border: none;
}
.app__sidebar .clear svg {
  width: 100%;
  height: 100%;
}
/* on hover add a small animation to shake the trash can */
.app__sidebar .clear:hover {
  animation: clear 0.2s 3 ease-out;
}
@keyframes clear {
  33% {
    transform: rotate(-5deg);
  }
  67% {
    transform: rotate(5deg);
  }
}
