@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Ubuntu Mono", monospace;
  color: hsl(0, 0%, 20%);
  background: hsl(35, 90%, 98%);
}

main {
  max-width: 35rem;
  width: 90vw;
  margin: 1rem auto;
}
