* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  background: hsl(215, 40%, 20%);
  /* center the viz in the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}
.viz {
  max-width: 500px;
  width: 90vw;
  cursor: grab;
}
.viz:active {
  cursor: grabbing;
}
