@import url("https://fonts.googleapis.com/css?family=Poppins:500,600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, hsl(250, 14%, 9%), hsl(250, 20%, 15%));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 500px;
}
nav {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-column-gap: 4rem;
  justify-items: center;
  align-items: center;
  background: hsl(250, 16%, 26%);
  box-shadow: 0 0 15px hsla(250, 16%, 5%, 0.3);
  padding: 2rem 3rem;
  border-radius: 15px;
  color: hsl(250, 16%, 90%);
  transform: translateZ(-75px);
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 1.25s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}
nav a {
  opacity: 0.3;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  text-decoration: none;
  transition-property: opacity, transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  position: relative;
}
nav a:before {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: hsl(250, 16%, 90%);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 1;
}
nav a span {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding-top: 1rem;
}
nav a svg {
  display: block;
}
nav svg#graticulate {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 150vh;
  transform-origin: 50% 100%;
  transform: translate(-50%, -50%) rotateX(30deg);
  z-index: -5;
}
nav.home {
  transform: translateX(42px) translateZ(-70px) rotateX(2deg) rotateY(-3deg);
}
nav.home a:nth-of-type(1) {
  opacity: 1;
  transform: translateZ(70px);
}
nav.home a:nth-of-type(1):before,
nav.favorites a:nth-of-type(2):before,
nav.settings a:nth-of-type(3):before {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition-property: opacity, transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
nav.favorites {
  transform: translateZ(-70px) rotateX(1deg);
}
nav.favorites a:nth-of-type(2) {
  opacity: 1;
  transform: translateZ(70px);
}
nav.settings {
  transform: translateX(-42px) translateZ(-70px) rotateX(2deg) rotateY(3deg);
}
nav.settings a:nth-of-type(3) {
  opacity: 1;
  transform: translateZ(70px);
}
