@import url("https://fonts.googleapis.com/css?family=Audiowide|Open+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.site-wrapper {
  min-height: 100vh;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  font-family: "Open Sans", sans-serif;
}
header canvas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

header {
  padding: 2rem;
  grid-area: header;
  display: flex;
  align-items: center;
  position: relative;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
  border-top: 1px solid black;
  text-align: right;
}

.logo {
  background: black;
  display: inline-block;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  font-size: 34px;
  font-family: "Audiowide", cursive;
  position: relative;
  outline: none;
  margin-right: auto;
}
.logo span {
  display: none;
}

.site-nav {
  display: none;
  margin-left: auto;
  margin-right: 2rem;
}
.site-nav ul {
  margin: 0;
  list-style: none;
  display: flex;
}
.site-nav a {
  text-decoration: none;
  color: black;
}
.site-nav li + li a {
  margin-left: 0.5rem;
}

.button {
  background: black;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.button + .button {
  margin-left: 0.5rem;
}
.button-green {
  background: #66bb6a;
}

@media screen and (min-width: 600px) {
  .logo span {
    display: inline-block;
    transition: clip-path 0.25s ease;
    color: black;
    position: absolute;
    top: 50%;
    left: 100%;
    font-size: 1.5rem;
    transform: translate(0%, -50%);
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
  }
  .logo:focus span,
  .logo:hover span {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .site-nav {
    display: inline-block;
  }
}
