@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700|Open+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  /* include the icon of a pokeball in the bottom right corner and a repeating pattern through overlapping gradients */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" transform="rotate(-30)" viewBox="0 0 100 100" width="100" height="100"><circle cx="50" cy="50" r="20" fill="hsl(0, 0%, 90%)"></circle><g transform="translate(50 50) rotate(-45)"><path d="M 0 40 a 40 40 0 0 0 0 -80 a 40 40 0 0 0 0 80" stroke="hsl(0, 0%, 90%)" stroke-width="20" fill="none" stroke-dasharray="40 20 128.4 62.8"></path></g></svg>'),
    repeating-linear-gradient(
      -45deg,
      hsl(0, 0%, 94%) 0px,
      hsl(0, 0%, 94%) 5px,
      transparent 0px,
      transparent 40px
    ),
    repeating-linear-gradient(
      -45deg,
      hsl(0, 0%, 94%) 0px,
      hsl(0, 0%, 94%) 10px,
      transparent 0px,
      transparent 100px
    ),
    hsl(0, 0%, 97%);
  background-repeat: no-repeat;
  background-position: calc(100% + 10px) calc(100% + 10px), 0, 0, 0;
  background-size: 200px, 100%, 100%, 100%;
  /* display the pokeball in the bottom center of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* POKEBALL ANIMATIONS
! for simple animations (with a single keyframe value) use transition instead of animation
this to also reverse the change as the classes are removed (to hide the stars/close the ball)
*/
/* shake to rotate g.gravity */
svg.fetching g.gravity {
  /* ! infinite given the unknown time it takes for the request to be resolved/rejected */
  animation: shake 0.75s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes shake {
  20% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(0deg);
  }
}

/* pulse to change the color of the innermost circle */
svg.fetching g.inner {
  /* ! infinite given the unknown time it takes for the request to be resolved/rejected */
  animation: pulse 0.75s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes pulse {
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0;
  }
}

/* squash for the pokeball and the success animation */
svg.success g.ball {
  animation: squash 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 2 alternate;
}
@keyframes squash {
  to {
    transform: scaleY(0.9);
  }
}

/* scale up the stars for the success animation */
svg g.stars {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
svg.success g.stars {
  transform: scale(1);
  /* delay when the class is added */
  transition-delay: 0.2s;
}

/* scale up the arcs in between the ball's halves for the failure animation */
svg g.open {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
svg.failure g.open {
  transform: scaleY(1);
  /* delay when the class is added */
  transition-delay: 0.1s;
}

/* translate upwards the top half for the failure animation */
svg g.top {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
svg.failure g.top {
  transform: translateY(-10px);
}

/* translate downwards the bottom half for the failure animation */
svg g.bottom {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
svg.failure g.bottom {
  transform: translateY(5px);
}

/* translate upwards the center for the failure animation */
svg g.center {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
svg.failure g.center {
  transform: translateY(-18px);
}

article {
  /* include the content of the entry in a column */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px;
  padding: 1.5rem;
  border-radius: 10px;
  color: hsl(0, 0%, 19%);
  margin-bottom: 1rem;
  line-height: 1.5;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 2px 5px hsl(0, 0%, 42%, 0.2);
  /* by default hide the article from view */
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  transition-timing-function: ease-out;
}
article.entry {
  opacity: 1;
  visibility: visible;
}
article h1 {
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
}
/* style the button and anchor link similarly */
article button,
article a {
  align-self: stretch;
  color: inherit;
  font-family: inherit;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  border: 1px solid hsl(0, 0%, 19%);
  box-shadow: 0 0 5px hsl(0, 0%, 42%, 0.2);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-out;
}
article a {
  margin: 0.75rem 0 0.5rem;
  text-decoration: none;
}
article button {
  margin-top: 0.5rem;
  background: none;
}

/* on hover/focus switch the color and background of the link/button */
article button:hover,
article button:focus,
article a:hover,
article a:focus {
  background: hsl(0, 0%, 19%);
  color: hsl(0, 0%, 100%);
}
