* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  background: #151d29;
  background: #d6e7f7;
  transition: background 0.75s ease-in-out;
  color: hsl(0, 0%, 98%);
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  position: relative;
}
label input {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
}
label svg {
  width: 350px;
  height: auto;
  display: block;
}
label input + svg .light {
  transition: opacity 0.75s cubic-bezier(0.68, 0.25, 0.265, 1);
}
label input + svg .translate,
label input + svg .rotate,
label input + svg .background {
  transition: transform 0.75s cubic-bezier(0.68, 0.25, 0.265, 1);
}

label input:checked + svg .light {
  opacity: 0;
}
label input:checked + svg .translate {
  transform: translateX(0px);
}
label input:checked + svg .rotate {
  transform: rotate(0deg);
}
label input:checked + svg .background {
  transform: translate(0px) scale(1);
}
