@import url("https://fonts.googleapis.com/css?family=Rubik:500");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
  font-family: "Rubik", sans-serif;
  color: #fff;
}
