@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:700|Open+Sans:600&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    /*   use in the background one of the patterns elaborated through the algorithm */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 805 805" width="800" height="800" fill="none" stroke="hsl(20, 30%, 90%)" stroke-width="5" stroke-linecap="square"><defs><path id="c" d="M0 0h100v100"/><path id="a" d="M100 0v100"/><path id="b" d="M0 0h100"/></defs><path d="M2.5 2.5v800h800"/><g class="grid"><g class="row"><use href="%23a" class="cell" transform="translate(2.5 702.5)"/><use href="%23b" class="cell" transform="translate(102.5 702.5)"/><use href="%23b" class="cell" transform="translate(202.5 702.5)"/><use href="%23a" class="cell" transform="translate(302.5 702.5)"/><use href="%23a" class="cell" transform="translate(402.5 702.5)"/><use href="%23a" class="cell" transform="translate(502.5 702.5)"/><use href="%23a" class="cell" transform="translate(602.5 702.5)"/><use href="%23a" class="cell" transform="translate(702.5 702.5)"/><g><use href="%23b" class="cell" transform="translate(2.5 602.5)"/><use href="%23b" class="cell" transform="translate(102.5 602.5)"/><use href="%23b" class="cell" transform="translate(202.5 602.5)"/><use href="%23b" class="cell" transform="translate(302.5 602.5)"/><use href="%23b" class="cell" transform="translate(402.5 602.5)"/><use href="%23a" class="cell" transform="translate(502.5 602.5)"/><use href="%23b" class="cell" transform="translate(602.5 602.5)"/><use href="%23a" class="cell" transform="translate(702.5 602.5)"/></g><g><use href="%23b" class="cell" transform="translate(2.5 502.5)"/><use href="%23a" class="cell" transform="translate(102.5 502.5)"/><use href="%23b" class="cell" transform="translate(202.5 502.5)"/><use href="%23b" class="cell" transform="translate(302.5 502.5)"/><use href="%23b" class="cell" transform="translate(402.5 502.5)"/><use href="%23a" class="cell" transform="translate(502.5 502.5)"/><use href="%23a" class="cell" transform="translate(602.5 502.5)"/><use href="%23a" class="cell" transform="translate(702.5 502.5)"/></g><g><use href="%23b" class="cell" transform="translate(2.5 402.5)"/><use href="%23a" class="cell" transform="translate(102.5 402.5)"/><use href="%23a" class="cell" transform="translate(202.5 402.5)"/><use href="%23a" class="cell" transform="translate(302.5 402.5)"/><use href="%23b" class="cell" transform="translate(402.5 402.5)"/><use href="%23a" class="cell" transform="translate(502.5 402.5)"/><use href="%23b" class="cell" transform="translate(602.5 402.5)"/><use href="%23a" class="cell" transform="translate(702.5 402.5)"/></g><g><use href="%23a" class="cell" transform="translate(2.5 302.5)"/><use href="%23a" class="cell" transform="translate(102.5 302.5)"/><use href="%23a" class="cell" transform="translate(202.5 302.5)"/><use href="%23b" class="cell" transform="translate(302.5 302.5)"/><use href="%23b" class="cell" transform="translate(402.5 302.5)"/><use href="%23a" class="cell" transform="translate(502.5 302.5)"/><use href="%23b" class="cell" transform="translate(602.5 302.5)"/><use href="%23a" class="cell" transform="translate(702.5 302.5)"/></g><g><use href="%23a" class="cell" transform="translate(2.5 202.5)"/><use href="%23b" class="cell" transform="translate(102.5 202.5)"/><use href="%23b" class="cell" transform="translate(202.5 202.5)"/><use href="%23b" class="cell" transform="translate(302.5 202.5)"/><use href="%23b" class="cell" transform="translate(402.5 202.5)"/><use href="%23b" class="cell" transform="translate(502.5 202.5)"/><use href="%23a" class="cell" transform="translate(602.5 202.5)"/><use href="%23a" class="cell" transform="translate(702.5 202.5)"/></g><g><use href="%23b" class="cell" transform="translate(2.5 102.5)"/><use href="%23b" class="cell" transform="translate(102.5 102.5)"/><use href="%23b" class="cell" transform="translate(202.5 102.5)"/><use href="%23b" class="cell" transform="translate(302.5 102.5)"/><use href="%23b" class="cell" transform="translate(402.5 102.5)"/><use href="%23b" class="cell" transform="translate(502.5 102.5)"/><use href="%23a" class="cell" transform="translate(602.5 102.5)"/><use href="%23a" class="cell" transform="translate(702.5 102.5)"/></g><g><use href="%23b" class="cell" transform="translate(2.5 2.5)"/><use href="%23b" class="cell" transform="translate(102.5 2.5)"/><use href="%23b" class="cell" transform="translate(202.5 2.5)"/><use href="%23b" class="cell" transform="translate(302.5 2.5)"/><use href="%23b" class="cell" transform="translate(402.5 2.5)"/><use href="%23b" class="cell" transform="translate(502.5 2.5)"/><use href="%23b" class="cell" transform="translate(602.5 2.5)"/><use href="%23c" class="cell" transform="translate(702.5 2.5)"/></g></g><svg width="100" height="100" transform="translate(702.5 2.5)"><use href="%23chicken"/></svg></g></svg>'),
        hsl(45, 35%, 95%);
    background-size: 200px;
    background-position: -100px;
    color: hsl(15, 60%, 50%);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
/* display the maze, button and details in a column */
.app {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* have the svg expand to cover the size allocated by the main container */
main {
    width: 90vw;
    max-width: 500px;
    background: hsl(15, 60%, 50%);
    color: hsl(45, 35%, 95%);
    padding: 1rem;
}
main svg {
    width: 100%;
    height: auto;
    display: block;
}

/* prominently feature the bottom below the main container */
button {
    margin: 2rem 3rem;
    background: hsl(15, 60%, 50%);
    border: none;
    border-bottom: 5px solid hsl(10, 80%, 30%);
    color: #e8f0fb;
    font-weight: 700;
    text-shadow: 0px 3px 3px hsla(10, 80%, 30%, 0.5);
    padding: 0.75rem 1rem;
    font-family: "Chakra Petch", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
}

/* increase the vertical space in the details and list elements */
details {
    color: hsl(15, 70%, 10%);
    line-height: 1.75;
}
summary {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
ul {
    list-style-type: square;
    line-height: 2.5;
    list-style-position: inside;
}
