@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Serif+SC:700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
body {
  background: #0c1620;
  color: #fff;
}

/* display the visualizations in a grid

  |  header   |
  | viz | viz |
  |  footer   |

*/
.viz {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-gap: 1rem;
  justify-content: center;
}
/* have the header and footer span both columns of the respective row */
.viz header,
.viz footer {
  grid-column: span 2;
  line-height: 2;
}
.viz header h1 {
  font-family: "Noto Serif SC", serif;
}
/* separate the svg from the surrounding header and footer */
.viz svg {
  margin: 1.5rem 0;
  width: 100%;
  height: auto;
}
/* with a pseudo element include a P.S. label highlighting the purpose of the footer */
.viz footer {
  margin-top: 4rem;
  position: relative;
  font-size: 0.9rem;
}
.viz footer:before {
  position: absolute;
  top: 100%;
  right: 0%;
  transform: translate(0, -50%);
  content: "P.S.";
  font-size: 4rem;
  opacity: 0.1;
  font-family: "Noto Serif SC", serif;
}
.viz footer a {
  color: inherit;
}

/* on smaller viewports display the items in a single column */
@media (max-width: 800px) {
  .viz {
    grid-template-columns: 400px;
  }
  .viz header,
  .viz footer {
    grid-column: initial;
  }
  .viz footer {
    margin-top: 2rem;
  }
}
