@import url("https://fonts.googleapis.com/css?family=Lato:700|Noticia+Text:400i&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  background: hsl(216, 65%, 95%);
  color: hsl(0, 0%, 60%);
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  font-family: "Lato", sans-serif;
}

article {
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  transition: transform 0.2s ease-out;
  margin: 0.5rem;
}
article figure {
  width: 120px;
  height: 120px;
  display: flex;
  border-radius: 50%;
  margin-top: -60px;
  position: relative;
}
article figure:before {
  content: "";
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border: 1rem solid hsl(216, 65%, 95%);
}
article figure img {
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
article figure svg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  fill: hsl(216, 65%, 95%);
  stroke: #f00;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

article .card__brief {
  margin: 2rem 1rem;
  text-align: center;
}
article .card__brief p {
  color: hsl(0, 0%, 65%);

  font-weight: thin;
  font-style: italic;
  margin: 1rem 0 2rem;
  font-family: "Noticia Text", serif;
  position: relative;
  z-index: 5;
}
article .card__brief p:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -5;
  opacity: 0.05;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70"><rect x="0" y="40" width="30" height="30"></rect><path d="M 0 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path><rect x="40" y="40" width="30" height="30"></rect><path d="M 40 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path></svg>'),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70" transform="rotate(180)"><rect x="0" y="40" width="30" height="30"></rect><path d="M 0 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path><rect x="40" y="40" width="30" height="30"></rect><path d="M 40 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path></svg>');
  background-position: 20% 20%, 80% 80%;
  background-repeat: no-repeat;
}
article .card__brief h1 {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
