@import url("https://fonts.googleapis.com/css2?family=Inter:wght@355;580;730&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(216, 12%, 92%);
  color: hsl(0, 0%, 5%);
  font-family: "Inter", sans-serif;
  font-weight: 355;
}
#root {
  max-width: 40rem;
  width: 90vw;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  background: hsl(0, 0%, 100%);
  min-height: 100vh;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
}

h1 {
  font-weight: 580;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
p {
  line-height: 1.75;
}
strong {
  font-weight: 730;
}
