@import url("https://fonts.googleapis.com/css?family=Fira+Code:400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Fira Code", monospace;
}
header {
  margin: 1rem 0;
  text-align: center;
}
/* global styles for the headings and code elements */
h1 {
  font-size: 1.5rem;
  font-weight: 400;
}
h2,
code {
  border-radius: 5px;
  color: #eff6ff;
  background: repeating-linear-gradient(
      to bottom,
      hsl(223, 34%, 10%) 0px,
      hsl(223, 34%, 18%) 2px
    )
    #303e61;
  text-align: center;
  font-weight: 400;
  padding: 0.1rem 0.45rem;
}

/* show the containers describing the tables in a wrapping row */
.tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* display the heading and table element in a column */
.tables .level {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  z-index: 5;
}
/* by default hide the heading describing the level behind the matching table */
.tables .level h2 {
  z-index: -5;
  transition: transform 0.25s ease-in-out;
  transform: translateY(100%);
  /* style the heading to show a small shadow beneat the text and the element */
  text-shadow: -1px 1px hsl(0, 0%, 0%);
  box-shadow: 0 1px 5px -2px hsla(223, 34%, 10%, 0.5);
  font-size: 1rem;
  padding: 0.2rem 0.75rem;
}
/* on hover show the heading above the table */
.tables .level:hover h2 {
  transform: translateY(-2px);
}
/* have the border inside the table collapse */
.tables .level table {
  border: 3px solid hsl(0, 0%, 0%);
  border-collapse: collapse;
}
/* size the cells as squares */
.tables .level table td {
  width: 36px;
  height: 36px;
  border: 1px solid hsl(223, 34%, 70%);
}
/* slightly change the background of the cells according to their even/odd number */
.tables .level table td:nth-of-type(odd) {
  background: hsl(223, 34%, 99%);
}
.tables .level table td:nth-of-type(even) {
  background: hsl(223, 34%, 96%);
}
.tables .level table tr:nth-last-of-type(odd) td:nth-last-of-type(odd) {
  background: hsl(223, 34%, 98%);
}
.tables .level table tr:nth-last-of-type(odd) td:nth-last-of-type(even) {
  background: hsl(223, 34%, 94%);
}
/* style the border between the fifth and sixth row and column with an orange color
! for table of only five columns or rows, the border-right or border-bottom is collapsed
*/
.tables .level table td:nth-of-type(5) {
  border-right-color: hsl(39, 100%, 50%);
}
.tables .level table tr:nth-of-type(5) td {
  border-bottom-color: hsl(39, 100%, 50%);
}
/* size the svg elements to take as much space as made available by the cell */
.tables .level table td svg {
  width: 100%;
  height: 100%;
  display: block;
}
