* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  /* the background is shown behind the svg, and in the masked areas */
  background: rgb(33, 46, 79);
  /* center in the viewport */
  display: grid;
  place-items: center;
}
