@import url("https://fonts.googleapis.com/css?family=Cabin:700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* display the svg and heading in a column, limiting the column's width to a prescribed 600px value */
.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 90vw;
  padding: 2rem 0; /* no horizontal padding to have the svg cover the entirety of the parent's width */
  margin: 2rem auto;
  /* include a light shadow toward the bottom right of the screen */
  background: linear-gradient(
      170deg,
      transparent 0,
      transparent 70%,
      hsla(0, 0%, 0%, 0.04) 0%,
      hsla(0, 0%, 0%, 0.04) 100%
    ),
    hsl(359, 100%, 60%);
  box-shadow: 0 1px 10px -10px hsl(359, 100%, 80%),
    0 2px 2px hsl(359, 100%, 60%);
}

/* have the svg cover the entirety of the parent's width */
.screen > svg {
  display: block;
  width: 100%;
  height: auto;
}
/* center the heading */
.screen h1 {
  color: #fff;
  text-align: center;
  font-family: "Cabin", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 5rem 0 1rem;
}

/* animations for the svg
share the duration among the different animations, to have them overlap on each iteration
*/
.translate {
  animation: translate 6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both 6;
}
.rotate {
  animation: rotate 6s 2s cubic-bezier(0.39, 0.575, 0.565, 1) both 6;
}
.oscillate {
  animation: oscillate 6s 2s linear both 6;
}

/* translate animation for the outer ball
translate from side to side, stopping in the middle for as much time as it takes for the second ball to rotate around the logo
*/
@keyframes translate {
  0% {
    transform: translateX(-75px);
  }
  32% {
    transform: translateX(0px);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  63% {
    transform: translateX(0px);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  100% {
    transform: translateX(75px);
  }
}

/* rotate animation for the inner ball
rotate around the prescribed hinge and as the outer ball reaches the inner ball's position
*/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  40%,
  100% {
    transform: rotate(-360deg);
  }
}

/* translate animation to have the rotation following the trajectory of an ellipse more than a circle
this to avoid having the inner ball follow the edge of the circle
*/
@keyframes oscillate {
  0%,
  15%,
  40%,
  100% {
    transform: translateX(0px);
  }
  7% {
    transform: translateX(-5px);
  }
  28% {
    transform: translateX(5px);
  }
}

/* animation for the heading's characters */
@keyframes fadeIn {
  0%,
  10% {
    opacity: 0;
  }
  55%,
  100% {
    opacity: 1;
  }
}
