@import url("https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: hsl(0, 0%, 10%);
  font-family: "Arvo", cursive;
}
nav {
  background: hsl(0, 0%, 95%);
  position: relative;
  overflow: hidden;
}
nav.open:before {
  transform: rotate(90deg);
  transform: rotate(-0.5turn);
}
nav:before {
  z-index: 5;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 10%);
  transition: all 2s ease-in-out;
  transform-origin: 100% 0%;
}
nav button svg #needle {
  transition: all 2s ease-in-out;
}
nav button {
  color: hsl(0, 0%, 95%);
}
nav.open button {
  color: hsl(0, 0%, 0%);
}
nav.open button svg #needle {
  transform: rotate(-0.25turn);
}
nav button {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  display: block;
  padding: 0.4rem;
  border: none;
  background: none;
  z-index: 5;
}
nav button svg {
  width: 100%;
  height: 100%;
  display: block;
}
ul {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
