@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Sarpanch:700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: hsl(207, 46%, 5%);
  color: #eeeeee;
  font-family: "Lato", sans-serif;
}
#root {
  margin: 1rem auto;
  width: 90vw;
  max-width: 550px;
}
#root > * + * {
  margin-top: 1rem;
}
h1 {
  font-family: "Sarpanch", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}
table {
  background: hsl(207, 46%, 8%);
  box-shadow: 0 0 1rem -0.6rem hsl(207, 46%, 2%);
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  line-height: 2.5;
}
table thead {
  border-block-end: 0.1rem solid #b33939;
}
table tbody td {
  text-align: center;
  text-shadow: 0 0 1rem hsl(207, 46%, 2%);
}
table tbody td:nth-of-type(1) {
  border-inline-end: 0.1rem solid #b33939;
}
table td.value {
  font-weight: 700;
}
