@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Sarpanch:700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: hsl(208, 45%, 5%);
  color: hsl(0, 0%, 95%);
  font-family: "Lato", sans-serif;
}
#root {
  margin: 1rem auto;
  width: 90vw;
  max-width: 550px;
}
#root > * + * {
  margin-top: 1rem;
}
h1 {
  font-family: "Sarpanch", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  line-height: 2.5;
  background: hsl(208, 45%, 8%);
  box-shadow: 0 0 1rem -0.6rem hsl(208, 45%, 2%);
}

table thead {
  border-bottom: 0.1rem solid hsl(0, 52%, 50%);
}
table tbody td {
  text-align: center;
  text-shadow: 0 0 1rem hsl(208, 45%, 2%);
}
table tbody td:nth-of-type(1) {
  border-right: 0.1rem solid hsl(0, 52%, 50%);
}

h1::selection,
table td::selection {
  background: hsl(208, 45%, 5%);
}
