* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* center in the viewport */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(240, 61%, 8%);
}
svg {
    display: block;
    width: 350px;
    height: auto;
}

/* CSS animation picked up by the slices */
@keyframes scale {
    to {
        transform: scale(1);
    }
}
