* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* colors used throughout the project */
:root {
    --background: #18181b;
    --div: #ffffff;
    --accent: #9147ff;
}
/* center in the viewport */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);
}
div {
    /* square */
    width: 150px;
    height: 150px;
    /* position relative to absolute position the pseudo elements */
    position: relative;
    /* uh. didn't know shadows with the filter property could be actually stacked */
    filter: drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent))
        drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent))
        drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent))
        drop-shadow(-1px 1px var(--accent)) drop-shadow(-1px 1px var(--accent));
}

div:after,
div:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}
div:before {
    clip-path: polygon(7.5% 0%, 92.5% 0%, 92.5% 62.5%, 70% 82.5%, 50% 82.5%, 30% 100%, 30% 82.5%, 7.5% 82.5%);
    background: var(--accent);
    transform: scale(1.25);
}

div:after {
    background: var(--div);
    clip-path: polygon(7.5% 0%, 40% 0%, 40% 50%, 50% 50%, 50% 20%, 40% 20%, 40% 0%, 65% 0%, 65% 50%, 75% 50%, 75% 20%, 65% 20%, 65% 0%, 92.5% 0%, 92.5% 62.5%, 70% 82.5%, 50% 82.5%, 30% 100%, 30% 82.5%, 7.5% 82.5%);
    animation: blink 4s ease-in-out infinite;
}

@keyframes blink {
    45%,
    55% {
        clip-path: polygon(7.5% 0%, 40% 0%, 40% 35%, 50% 35%, 50% 35%, 40% 35%, 40% 0%, 65% 0%, 65% 35%, 75% 35%, 75% 35%, 65% 35%, 65% 0%, 92.5% 0%, 92.5% 62.5%, 70% 82.5%, 50% 82.5%, 30% 100%, 30% 82.5%, 7.5% 82.5%);
    }
    40%,
    50%,
    60% {
        clip-path: polygon(7.5% 0%, 40% 0%, 40% 50%, 50% 50%, 50% 20%, 40% 20%, 40% 0%, 65% 0%, 65% 50%, 75% 50%, 75% 20%, 65% 20%, 65% 0%, 92.5% 0%, 92.5% 62.5%, 70% 82.5%, 50% 82.5%, 30% 100%, 30% 82.5%, 7.5% 82.5%);
    }
}
