@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  /* specify an off-white background to highlight the central column */
  background: hsl(0, 0%, 93%);
}
/* display each successive visualization in a column capped in terms of width */
.viz {
  max-width: 550px;
  width: 90vw;
  margin: 0 auto;
  min-height: 100vh;
  padding: 1rem;
  background: hsl(0, 0%, 100%);
}
/* each visualization is described in a div.stage */
.stage {
  margin: 0.5rem 1rem;
}
.stage + .stage {
  margin-top: 2rem;
}
.stage h2 {
  text-transform: uppercase;
  font-size: 1rem;
  color: hsl(240, 4%, 49%);
  font-weight: 300;
}
.stage h3 {
  font-size: 0.8rem;
  color: hsl(240, 1%, 33%);
  margin: 0.2rem 0 0;
}
/* with a pseudo element include a colored background in the bottom half of the strong elements */
.stage h3 strong {
  text-transform: uppercase;
  position: relative;
  z-index: 5;
}
.stage h3 strong:before {
  z-index: -5;
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 40%;
  width: 100%;
  background: hsl(123, 44%, 81%);
}
.stage h3 span {
  font-weight: 300;
  font-size: 0.65rem;
  color: hsl(240, 4%, 49%);
}

/* add an arrow pointing downwards through a pseudo element */
#tooltip {
  font-size: 0.9rem;
  background: hsl(0, 0%, 100%);
  padding: 0.8rem 1rem;
  filter: drop-shadow(0 1px 4px hsla(240, 1%, 33%, 0.2));
  z-index: 10;
}
#tooltip:after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 25px;
  height: 15px;
  background: inherit;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
/* style the contents of the tooltip */
#tooltip div {
  line-height: 1.25;
}
#tooltip div h3 {
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  position: relative;
  margin-bottom: 0.5rem;
  padding: 0.15rem 0;
}
#tooltip div h3:after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  content: "";
  width: 100%;
  height: 1px;
  background: hsla(240, 1%, 33%, 0.25);
}
#tooltip div h4 {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  color: hsl(240, 1%, 33%);
  margin-bottom: 0.25rem;
}
