@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    color: hsl(0, 0%, 15%);
    background: hsl(40, 30%, 90%);
    font-family: "Space Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    background: hsl(40, 30%, 95%);
}

table tr {
    text-align: center;
}
table tr:nth-of-type(even) {
    background: hsl(0, 0%, 100%);
}
table th {
    border-bottom: 2px solid currentColor;
    padding: 1rem;
    background: hsl(0, 0%, 100%);
}
table td {
    padding: 1rem 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}
table td > svg {
    display: block;
    height: 20px;
    width: auto;
}
table button {
    color: inherit;
    width: 30px;
    height: 30px;
    padding: 0.25rem;
    border-radius: 50%;
    background: none;
    border: 2px solid currentColor;
    position: relative;
}
table button svg {
    display: block;
    width: 100%;
    height: 100%;
}
table button:focus {
    outline: none;
}
table button:before {
    position: absolute;
    content: "";
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: 0 0 0 6px currentColor;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}
table button:focus:before {
    opacity: 0.4;
}
