* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* center the svg in the viewport */
body {
  min-height: 100vh;
  background: #fffaf0;
  display: flex;
}
svg {
  display: block;
  margin: auto;
  width: 200px;
  height: auto;
}
