* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  background: #2a1034;
  /* center the svg in the viewport */
  display: flex;
}
svg {
  margin: auto;
  display: block;
  width: 80vh;
  height: auto;
}
/* remove pointer events on every element nested in the svg
otherwise the mouseout event on the svg would fire when hovering on the different elements
*/
svg * {
  pointer-events: none;
}
