* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* center in the viewport */
body {
  min-height: 100vh;
  background: #11072a;
  display: flex;
  justify-content: center;
  align-items: center;
}
