* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    background: hsl(40, 100%, 95%);
    display: grid;
    place-items: center;
}
.clouds {
    animation: translateHorizontally 10s cubic-bezier(0.445, 0.3, 0.55, 0.7) infinite;
}
@keyframes translateHorizontally {
    to {
        transform: translateX(100px);
    }
}

.arrow {
    animation: translateVertically 5s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}
/* use opposite timing function as the arrow moves into view and out of sight */
@keyframes translateVertically {
    0% {
        transform: translateY(-100px);
    }
    40% {
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
    60% {
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    }
    100% {
        transform: translateY(100px);
    }
}
