@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  background: #313b69;
  background: #131930;
  color: #fff;
  font-family: "Lato", sans-serif;
}

main {
  min-height: 100vh;
  text-align: center;
  padding: 1rem;
}

/* cap the width of the wrapping container and horizontally center the element */
main .output {
  max-width: 800px;
  width: 90vw;
  margin: 1rem auto;
}
main .output svg {
  width: 100%;
  height: auto;
}

/* absolute position the tooltip */
#tooltip {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-out;
  padding: 1rem 1.5rem;
  line-height: 2;
  background: #fff;
  color: #222;
  pointer-events: none;
  max-width: 350px;
  display: grid;
  /* display the information in a grid
    three columns, the first of which stretches to occupy the available space
  */
  grid-template-columns: 1fr auto auto;
  grid-gap: 0.25rem;
  align-items: center;
}
#tooltip .planet {
  font-size: 1.25rem;
}
#tooltip .year,
#tooltip .medium {
  font-size: 0.9rem;
}
#tooltip .medium:before {
  content: "|";
}
/* have the source spread to cover the entirety of the second row */
#tooltip .source {
  grid-column: span 3;
}
