@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: hsl(240, 20%, 99%);
  font-family: "Source Sans Pro", sans-serif;
}
/* display the content of the .app container in a column */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  max-width: 900px;
  margin: 1rem auto;
}
/* separate each subsequent element from the previous one */
.app > * + * {
  margin-top: 1.25rem;
}
header {
  line-height: 1.25;
  padding: 0.75rem 1rem;
  border: 1px solid hsl(240, 20%, 50%);
  color: hsl(240, 20%, 30%);
}
header h1 {
  font-size: 1.75rem;
  font-weight: 700;
}
/* align the text of the heading with the svg */
header h3 {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}
header h3 svg {
  width: 15px;
  height: auto;
  margin-left: 0.75rem;
}
/* size the svg describing the geographical visualization */
.geo {
  width: 90vw;
  width: 600px;
  height: auto;
}
.member-states {
  max-width: 400px;
  align-self: flex-end;
  border-left: 3px solid currentColor;
  padding: 1rem 0;
  padding-left: 1rem;
}
@media (max-width: 800px) {
  .member-states {
    align-self: center;
  }
}
.member-states .member-state + .member-state {
  margin-top: 3rem;
}
.member-states h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  position: relative;
}
.member-states h2:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: hsl(240, 20%, 99%);
  border: 2px solid currentColor;
  top: 50%;
  left: calc(-1rem - 1px);
  transform: translate(-50%, -50%);
}
.member-states p {
  line-height: 1.5;
  font-size: 0.9rem;
}
