@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: hsl(240, 20%, 99%);
  color: hsl(240, 20%, 25%);
  font-family: "Source Sans Pro", sans-serif;
}
/* display the content of the .viz container in a column */
.viz {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
}
/* separate each subsequent element from the previous one */
.app > * + * {
  margin-top: 1.5rem;
}
header {
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border: 1px solid hsl(240, 20%, 50%);
}
header h1 {
  font-size: 1.75rem;
  font-weight: 700;
}
/* align the text and the svg vertically */
header h3 {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}
header h3 svg {
  width: 15px;
  height: auto;
  margin-left: 0.75rem;
}
/* have the container describing the geography stick to the bottom of the viewport */
.eu-geo {
  background: hsl(240, 20%, 99%);
  position: sticky;
  top: 0;
  z-index: 5;
  width: 90vw;
  max-width: 450px;
  transition: transform 0.2s ease-in-out;
}
/* limit the size of the container describing the line charts to have the svg noticeably smaller than the geography */
.eu-entries {
  max-width: 350px;
  transition: transform 0.2s ease-in-out;
}
/* on larger viewports fix the position of the geography to the left, while moving the line charts to the right */
@media (min-width: 1000px) {
  .eu-geo {
    background: none;
    max-width: 600px;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
  }
  .eu-entries {
    transform: translate(50%, 0);
    max-width: 400px;
  }
}

/* include a line on the left side of the line charts
include a circle for every heading introducing the line charts
*/
.eu-entries li {
  padding: 2rem 1rem;
  list-style: none;
  position: relative;
}
.eu-entries li:before {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 100%;
  background: hsl(240, 70%, 40%);
  top: 0%;
  right: 100%;
}
.eu-entries li h2:after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: hsl(240, 20%, 99%);
  box-shadow: 0 0 0 2px hsl(240, 70%, 40%);
  top: 0%;
  right: 100%;
  transform: translate(
    -0.6rem,
    50%
  ); /* -0.6rem magic number as in (1rem - 0.2rem) / 2 - 1rem [(size of the circle - overlap with the line / 2) - horizontal padding ] */
}
.eu-entries li.shown h2:after {
  background: hsl(240, 70%, 40%);
  transition: all 0.2s ease-in-out;
}
/* style the text for every entry */
.eu-entries h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  position: relative;
}
.eu-entries p {
  font-size: 0.9rem;
  line-height: 1.5;
}
