* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* display the graphic and input of type range in the center of the viewport */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: hsl(0, 0%, 90%);
}
form {
    padding: 3rem 4rem;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 0 5px -2px hsla(0, 0%, 0%, 0.5);
}
form > * + * {
    margin-top: 1rem;
}
form svg {
    display: block;
    width: 200px;
    height: 200px;
}
form h1 {
    font-family: monospace;
    font-size: 1.25rem;
    font-weight: normal;
    text-align: center;
}
form input[type="range"] {
    width: 100%;
}
