@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 30%);
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
/* cap the width of the visualization */
.viz {
  width: 90vw;
  max-width: 600px;
}
/* display the icon and details side by side */
.member {
  display: flex;
  align-items: center;
}
/* alternate the background of the data points */
.member:nth-of-type(odd) {
  background: hsl(0, 0%, 95%);
}
.member svg {
  margin: 0 0.75rem;
  display: block;
  width: 30px;
  height: auto;
}
