@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  background: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 100%);
}
/* canvas and section side by side */
div {
  padding: 0.75rem;
  display: flex;
  background: hsl(0, 0%, 10%);
  box-shadow: 0 0 5px -2px #000000;
}
/* on smaller screen, reposition the canvas atop the section */
@media screen and (max-width: 500px) {
  div {
    flex-direction: column;
  }
}

canvas,
form {
  background: hsl(0, 0%, 15%);
  margin: 0.5rem;
}
/* for the form, push the content at the bottom of the column */
form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

form label {
  width: 2rem;
  height: 2rem;
  position: relative;
}
form label input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* when the input is checked modify the color of the SVG */
form label input + svg {
  color: hsl(9, 100%, 64%);
  width: 100%;
  height: auto;
  display: block;
}
form label input:checked + svg {
  color: hsl(80, 61%, 50%);
}

/* when the input is being focused, highlight the SVG */
form label input:focus + svg,
form label input:active + svg {
  filter: drop-shadow(0 0 2px hsl(0, 0%, 100%));
}
form label input:focus + svg .outline,
form label input:active + svg .outline {
  opacity: 1;
}

form output {
  text-transform: capitalize;
  margin-top: 0.5rem;
}
