/* custom-properties describing the colors used throughout the project
&& the time after which the button is considered active */
:root {
  --gradient-start: hsl(240, 100%, 70%);
  --gradient-end: hsl(280, 85%, 60%);
  --accent: hsl(260, 92.5%, 65%);
  --delay: 2s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* display the contents in a reverse column, so to have the navigation atop the button
! this messes up the side describing the margin, see the owl selector
*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 20%);
  background: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end));
}

body > * + * {
  margin-bottom: 0.75rem;
  margin-block-end: 0.75rem;
}

button {
  width: 80px;
  height: 80px;
  display: block;
  color: var(--accent);
  border: none;
  background: none;
  border-radius: 50%;
  filter: drop-shadow(0 0 8px hsla(0, 0%, 0%, 0.2));
  outline: none;
  position: relative;
  z-index: 5;
  /* transition the rotation of the button with a considerable duration
  use a timing function which snaps toward the end
  */
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
/* in favor of the default outline use a pseudo element to add a semitransparent border around the button */
button:before {
  z-index: -5;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 100%, 0.3);
  border-radius: inherit;
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
button:focus:before,
button:hover:before {
  transform: scale(1.1);
}
/* as the button is pressed, rotate the button
! apply the rotation also through a class, which is added after the transition has had a change to complete
*/
button:active,
button.active {
  transform: rotate(45deg) scale(1);
  transition: all var(--delay) cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

/* always as the button is being pressed, increase the area of the pseudo element
! use a similar timing function
*/
button:active:before,
button.active:before {
  transform: scale(2);
  opacity: 0;
  transition: all var(--delay) cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

button svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* target the navigation following the button (shown earlier, but appearing later in the DOM)
remove it from reach with visibility hidden
*/
button + nav {
  filter: drop-shadow(0 2px 8px hsla(0, 0%, 0%, 0.2));
  /* transition the navigation when the class of .active is applied on the button
  scale from the bottom
  */
  transform-origin: 50% 100%;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* to apply the delay only as the class active is removed be sure to remove it
  when the class is actually added
  */
  transition-delay: 0.25s;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}
button.active + nav {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition-delay: 0s;
}
/* style the icons nested in the anchor link elements with a subdued color
reset opacity and color on hover/focus
 */
nav a {
  color: hsl(0, 0%, 50%);
  opacity: 0.4;
  transition: all 0.2s ease-in-out;
  outline: none;
}
nav a:focus,
nav a:hover {
  color: var(--accent);
  opacity: 1;
}
