@import url("https://fonts.googleapis.com/css?family=Lato|Orbitron:900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  background: hsl(31, 99%, 67%);
  background: #131930;
  color: hsl(120, 90%, 88%);
  color: hsl(31, 90%, 77%);
  color: #fff;
  font-family: "Lato", sans-serif;
}
main {
  min-height: 100vh;
  text-align: center;
  padding: 1rem;
}
/* style the input with a white outline */
main .input {
  margin: 1rem 0;
}
main .input select {
  padding: 0.5rem 5rem;
  padding-left: 0.25rem;
  text-align: left;
  background: none;
  color: inherit;
  border: 2px solid currentColor;
  text-transform: uppercase;
  line-height: 2;
  font-family: inherit;
}
main .input select option {
  background: #1a1a1a;
  color: inherit;
}
/* cap the width of the wrapping container and horizontally center the element */
main .output {
  max-width: 800px;
  width: 90vw;
  margin: 1rem auto;
}
main .output svg {
  width: 100%;
  height: auto;
  font-family: "Orbitron", sans-serif;
}
/* absolute position the tooltip */
#tooltip {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-out;
  padding: 1rem 1.5rem;
  line-height: 2;
  background: #fff;
  color: #222;
  pointer-events: none;
  max-width: 350px;
  display: grid;
  /* display the information in a grid
    three columns, the first of which stretches to occupy the available space
  */
  grid-template-columns: 1fr auto auto;
  grid-gap: 0.25rem;
  align-items: center;
}
#tooltip .planet {
  font-size: 1.25rem;
}
#tooltip .year,
#tooltip .medium {
  font-size: 0.9rem;
}
#tooltip .medium:before {
  content: "|";
}
/* have the source spread to cover the entirety of the second row */
#tooltip .source {
  grid-column: span 3;
}
